<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TDC</title>
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<div class="container">
		<div class="menu">
			<ul>
				<li><a href="#">HOME</li>
				<li><a href="predict.html">PREDICT</a></li>
			</ul>
		</div>
	</div>
	<div class="title">
		<h1> <span>TYROID DISEASE</span> CLASSIFICATION</h1><br>
		<p>Thyroid disease is a medical condition that affects the function of the thyroid gland.<br>Two types of thyroid diseases are:<br></p>  
	</div>
    <div class="content">
            <p><b>Hypothyroidism (low function)</b> caused by not having enough free thyroid hormones</p>
    </div>
    <div class="content1">
     <p><b>Hyperthyroidism (high function)</b> caused by having too many free thyroid hormones</p>
    </div>
    </header>
</body>
</html>