<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TDC</title>
	<link rel="stylesheet" type="text/css" href="styles.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<div class="container">
		<div class="menu">
			<ul>
				<li><a href="home.html">HOME</li>
				<li><a href="#">PREDICT</a></li>
			</ul>
		</div>
	</div>
    <div class="title">
    <h1>Thyroid Disease Classification</h1>
</div>
<div class="form">
    <form action="submit.html" method="post">
        <label for="goitre">GOITRE</label><br>
        <input type="radio" id="MALE" name="goitre" value="MALE">
        <label for="MALE" style="color:antiquewhite">MALE</label>
        <input type="radio" id="FEMALE" name="goitre" value="FEMALE">
        <label for="FEMALE" style="color:antiquewhite">FEMALE</label>
        <br>
        <label for="tumor">TUMOR</label><br>
        <input type="radio" id="MALE" name="tumor" value="MALE">
        <label for="MALE" style="color:antiquewhite">MALE</label>
        <input type="radio" id="FEMALE" name="tumor" value="FEMALE">
        <label for="FEMALE" style="color:antiquewhite">FEMALE</label>
        <br>
        <label for="hypopituitary">HYPOPITUITARY</label><br>
        <input type="radio" id="MALE" name="hypopituitary" value="MALE">
        <label for="MALE" style="color:antiquewhite">MALE</label>
        <input type="radio" id="FEMALE" name="hypopituitary" value="FEMALE">
        <label for="FEMALE" style="color:antiquewhite">FEMALE</label>
        <br>
        <label for="psych">PSYCH</label><br>
        <input type="radio" id="MALE" name="psych" value="MALE">
        <label for="MALE" style="color:antiquewhite">MALE</label>
        <input type="radio" id="FEMALE" name="psych" value="FEMALE">
        <label for="FEMALE" style="color:antiquewhite">FEMALE</label>
        <br>
        <label for="tsh">TSH</label><br>
        <input type="text" id="tsh" name="TSH"><br>
        <label for="t3">T3</label><br>
        <input type="text" id="t3" name="T3"><br>
        <label for="tt4">TT4</label><br>
        <input type="text" id="tt4" name="TT4"><br>
        <label for="t4u">T4U</label><br>
        <input type="text" id="t4u" name="T4U"><br>
        <label for="fti">FTI</label><br>
        <input type="text" id="fti" name="FTI"><br>
        <label for="tbg">TBG</label><br>
        <input type="text" id="tbg" name="TBG"><br>
       <input type="submit" value="predict" class="result" href="thyroid_model.pkl">
    </form>
</div>
</header>
</body>
</html>
